<div class="row mt-4 sw-background-1">
    <div class="col-xl-12 align-bottom">
        <h2 class="sweet-title-1" style="line-height: 0;">SABORES</h2>
        <h2 class="sweet-title-2">Lasañas</h2>
    </div>
</div>

<div class="container">
    <div class="row mt-2 mb-3 justify-ct">
        <!--Carnes-->
        <div class="col-xl-12 centered-sweet mt-5 mb-3">
            <h2 class="sweet-title-3">Lasaña</h2>
        </div>

        <div *ngFor="let l of lasanhas; index as i" class="col-xl-4 centered-sweet mt-5 ">
            <div  class="col-xl-4 centered-sweet mt-5 cursor-pointer">
                <!---- Modal existente pasa el arreglo designado y la posicion en la que se selecciona-->
                <a class="centered-sweet pointer" (click)="abrirModal(lasanhas,i)">
                    <img [src]="l.imageUrl | imageDefault: defaultImg" alt="" class="product-img mb-2 img-fluid">
                    <h2 class="product-title custom-h2">{{l.name | uppercase}}</h2>
                </a>
            </div>
        </div>
    </div>

</div>

<app-modal-salado></app-modal-salado>