<div class="row mt-4 sw-background-1">
    <div class="col-xl-12 align-bottom">
        <h2 class="sweet-title-1" style="line-height: 0;">SABORES</h2>
        <h2 class="sweet-title-2">DULCES</h2>
    </div>
</div>


<div class="row mt-2 mb-3">
    <div class="col-xl-12 centered-element mt-5 mb-5">
        <h2 class="sweet-title-3">¡Selecciona tu dulce!</h2>
    </div>
    <div *ngFor="let tipo of tipos; index as i" class="col-xl-4 centered-element">
        <a [routerLink]="['/dulce', tipo]" class="centered-element">
            <img [src]="cargarPortada(tipo)[0].imageUrl || defaultImg" alt="" class="product-img mb-2">
            <h2 class="product-title">{{tipo}}</h2>
        </a>
    </div>
</div>