<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<!-- <div id="wrapper" class="error-page row">
    <div class="error-box">
        <div class="error-body text-center">
            <h1>404</h1>
            <h3 class="text-uppercase">Page Not Found !</h3>
            <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
            <a href="index.html" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Back to home</a> </div>
        <footer class="footer text-center">© {{year}} Admin Pro.</footer>
    </div>
</div> -->

<div class="row">
    <div class="error-body text-center">
        <h1>404</h1>
            <h3 class="text-uppercase">¡Página no encontrada!</h3>
            <p class="text-muted m-t-30 m-b-30">Parece que buscabas una página que no existe...</p>
            <img src="/assets/404.png" alt="" style="max-width: 300px;">
            <br>
            <a href="index.html" class="btn btn-danger mt-2 mb-2 mt-5 mb-2">Volver al inicio</a> 
            <footer class="footer text-center mb-3">© {{year}} Cafe Sureño.</footer>
    </div>
            
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->