<div class="row mt-4 sw-background-1">
    <div class="col-xl-12 align-bottom">
        <h2 class="sweet-title-1" style="line-height: 0;"></h2>
        <h2 class="sweet-title-2">Gestionar Productos</h2>
    </div>
</div>
<div class="row mt-2 mb-3 justify-ct">
    <div class="row pd-background-2">
        <div class="col-xl-12 mt-4 mb-4 dp-flex-around">
            <a routerLink="agenda" class="centered-element">
                <h2 class="ord-title-1">Agenda</h2>
            </a>
            <a routerLink="dulce" class="centered-element">
                <h2 class="ord-title-1">Dulces</h2>
            </a>
            <a routerLink="salado" class="centered-element">
                <h2 class="ord-title-1">Salados</h2>
            </a>
        </div>
</div>
    <div class="col-xl-12">
        <router-outlet></router-outlet>
    </div>