<div class="row location-bg">
    <p class="location-title margin-bt">ENCUENTRA TU TIENDA MÁS CERCANA</p>
    <div class="col-xl-12">
        <div class="row mb-5">
            <div class="col-xl-6 text-end centered container margin-bt">
                <iframe class="responsive-iframe"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d200.1725884391711!2d-72.10077634963005!3d-36.608054832410126!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9668d7d61a949a8f%3A0x1b8864ce6fa04521!2zU3VyZcOxbyBDYWbDqQ!5e0!3m2!1ses!2scl!4v1654620209457!5m2!1ses!2scl"
                    width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-xl-6 centered">
                <span class="location-1">
                    Sureño Café: <br>
                    Constitución 724 <br>
                    422 210 157 <br> <br>
                    Lunes a Viernes <br>
                    10:00 a 17:30 hrs. <br>
                </span>
            </div>
        </div>
        <div class="row mb-5 row-reverse">
            <div class="col-xl-6 text-end centered">
                <span class="location-1">
                    Sureño Dulce y Salado: <br>
                    5 de abril 325<br>
                    422 212 638<br><br>
                    Lunes a Sábado<br>
                    10:00 a 19:00 hrs.<br><br>
                    Domingos<br>
                    10:00 a 15:00 hrs.<br>
                </span>
            </div>
            <div class="col-xl-6 centered container margin-bt">
                <iframe class="responsive-iframe"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d238.05748093497968!2d-72.10009929373633!3d-36.60455082175278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9668d7d421bc5f07%3A0xa6756a4b7ed0c899!2zNSBkZSBBYnJpbCAzMjUsIENoaWxsYW4sIENoaWxsw6FuLCBSZWdpw7NuIGRlbCBCw61vIELDrW8!5e0!3m2!1ses!2scl!4v1654706088672!5m2!1ses!2scl"
                    width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-xl-6 text-end centered container margin-bt">
                <iframe class="responsive-iframe"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d673.4715321355486!2d-72.08494685570732!3d-36.58813178217639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9668d63703b5072d%3A0xbebb9a4c23dc7971!2zRmxvcmVzIE1pbGzDoW4gMTI0NiwgQ2hpbGxhbiwgQ2hpbGzDoW4sIMORdWJsZQ!5e0!3m2!1ses-419!2scl!4v1661306624742!5m2!1ses-419!2scl"
                    width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-xl-6 centered">
                <span class="location-1">
                    Sureño Café: <br>
                    Flores Millán 1246 <br>
                    422 250 105 <br> <br>
                    Lunes a Viernes <br>
                    10:30 a 13:30 - 15:00 a 19:30. <br>
                </span>
            </div>
        </div>
    </div>
</div>