<div class="row mt-4 pd-background-1">
    <div class="col-xl-12 dp-flex mt-4 mb-4">
        <h2 style="margin-right: 30px; align-items: center; display: flex;" >$0</h2>
        <i class="fa-solid fa-cart-shopping fa-4x" style="margin-right: 30px;"></i>
        <i class="fa-solid fa-right-to-bracket fa-4x" style="margin-right: 20px;"></i>
    </div>
</div>
<div class="row pd-background-2">
    <div class="col-xl-12 mt-4 mb-4 dp-flex-around">
        <h2 class="ord-title-1">Pasteleria</h2>
        <h2 class="ord-title-1">Postres</h2>
        <h2 class="ord-title-1">Tortas</h2>
        <h2 class="ord-title-1">Empanadas</h2>
        <h2 class="ord-title-1">Carnes</h2>
        <h2 class="ord-title-1">Lasañas</h2>
        <h2 class="ord-title-1">Otros</h2>
    </div>
</div>
<div class="row mt-4">
    <div class="col-xl-12 centered-sweet mt-3 mb-3">
        <h2 class="ord-title-3">Pastelería</h2>
    </div>
    <div class="col-xl-4">

    </div>
</div>