/* .sureno-header{
    background-color: #b22a2e;
}
.sureno-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  } */
.slider {
    background: #a41522;
}
@media (min-width: 768px ){
    .slider {
        min-width: 492px !important;
    }
}