<nav class="navbar navbar-expand-lg navbar-light nav-background nav-padding">
    <!--  Esto solo se muestra en la version movil  -->
    <a *ngIf="isMobileLayout" href="#" [routerLink]="['home']" class="navbar-brand nav-logo">
        <img src="/assets/sureno-logo-rojo.png" class="sureno-logo" alt="Sureño Café">
    </a>

    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--  Navbar de escritorio  -->
    <div class="collapse navbar-collapse justify-content-between mt-2 max-width" id="navbarCollapse">
        <!-- Izquierda -->
        <a *ngIf="!isMobileLayout" href="#" [routerLink]="['home']" class="navbar-brand nav-logo">
            <img src="/assets/sureno-logo-rojo.png" class="sureno-logo" alt="Sureño Café">
        </a>
        <!-- Centro -->
        <ul class="navbar-nav" style="display: flex; align-items: flex-start; justify-content: space-evenly;">
            <li class="nav-item">
                <a href="#" [routerLink]="['home']" class="nav-item nav-link active nav-font">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="#" [routerLink]="['dulce']" class="nav-item nav-link active nav-font">Dulce</a>
            </li>
            <li class="nav-item">
                <a href="#" [routerLink]="['salado']" class="nav-item nav-link active nav-font">Salado</a>
            </li>
            <!-- <li class="nav-item">
                <a href="#" [routerLink]="['pedidos']" class="nav-item nav-link active nav-font">Haz tu pedido</a>
            </li> -->
        </ul>
        <!-- Derecha -->
        <ul class="navbar-nav"
            style="display:flex; flex-direction:row; justify-content:space-between; align-items:center;">
            <li *ngIf="!this.loginService.loggedIn()" class="nav-item" style="display: flex; align-items: center;">
                <a (click)="toggleDrawer()" class="fa-stack fa-2x has-badge" 
                matTooltip="Ingresar" matTooltipClass="example-tooltip-red" >
                    <i class="fa fa-circle fa-stack-2x hover-color red-cr"></i>
                    <i class="fa-solid fa-user fa-stack-1x fa-inverse"></i>
                    <!-- <i class="fa-solid fa-user fa-2xl icon-hover" style="color: #000000cf; margin-right: 5px;"></i> -->
                </a>
            </li>
            <div *ngIf="this.loginService.loggedIn()" class="dropdown">
                <a [matMenuTriggerFor]="menu" class="fa-stack fa-2x has-badge" role="button">
                    <i class="fa fa-circle fa-stack-2x hover-color red-cr"></i>
                    <i class="fa-solid fa-user-gear fa-stack-1x fa-inverse"></i>
                </a>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/auth/perfil">
                      <mat-icon style="color: white;">manage_accounts</mat-icon>
                      <span>Mi Cuenta</span>
                    </button>
                    <button *ngIf="this.loginService.isAdmin()" mat-menu-item routerLink="/auth/dashboard">
                        <mat-icon style="color: white;">table_view</mat-icon>
                        <span>Gestionar Productos</span>
                      </button>
                    <button (click)="logout()" mat-menu-item>
                      <mat-icon style="color: white;">logout</mat-icon>
                      <span>Cerrar Sesión</span>
                    </button>
                  </mat-menu>
            </div>
            
            <li class="nav-item " style="display: flex; align-items: center;">
                <a href="#" [routerLink]="['localizacion']" class="fa-stack fa-2x has-badge"
                    matTooltip="Localizar tienda" matTooltipClass="example-tooltip-red">
                    <i class="fa fa-circle fa-stack-2x hover-color red-cr"></i>
                    <i class="fa-solid fa-location-dot fa-stack-1x fa-inverse"></i>
                    <!-- <i class="fa fa-light fa-location-dot fa-2xl" style="color: #000000cf; margin-right: 5px;"></i>Localizar tienda -->
                </a>
            </li>
            <li class="nav-item">
                <a class="fa-stack fa-2x has-badge" [attr.data-count]="this.shoppingCartService.getCantidad()"
                    href="#" [routerLink]="['pedidos']" matTooltip="Carrito de compras" matTooltipClass="example-tooltip-red">
                    <i class="fa fa-circle fa-stack-2x hover-color red-cr"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </a>
            </li>

        </ul>
    </div>
</nav>
