<div [ngStyle]="{ display: modalService.oculto }" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- CABECERA -->
      <div class="modal-header display">
        <div class="row">
          <div class="col-12" style="display: flex;">
            <img class="logo" src="/assets/logo-flor.png" alt="logo" />
            <h5 class="modal-title">{{ dulce?.name }}</h5>
            <button (click)="ocultarModal()" type="button" class="btn-close btn-danger"
              style="width: 30px; height: 30px; margin-left: 0px;"></button>
          </div>
          <!-- <div class="col-8 name">
            <h5 class="modal-title">{{ dulce?.name }}</h5>
          </div>
          <div class="col-2 cerrar">
            <button (click)="ocultarModal()" type="button" class="btn-close btn-danger"
              style="width: 3em; height: 3em"></button>
          </div> -->
        </div>
      </div>
      <!-- CUERPO -->
      <div class="modal-body">
        <div class="row">
          <div style="margin: auto;" class="col-12 flex-center">
            <img class="imagenbody" [src]="dulce?.imageUrl " />
            <span class="text-align">{{ dulce?.description }}</span>
          </div>
          <div class="col-12 flecha">
            <!---- Muestra el boton dependiendo de la condición-->
            <button [disabled]="!(index > 0)" class="btn arrow-style" (click)="cambiarIzquierda()">
              &#10096;
            </button>
            <!---- Muestra el boton dependiendo de la condición-->
            <button [disabled]="!(index < dulces.length - 1)" class="btn arrow-style" (click)="cambiarDerecha()">
              &#10097;
            </button>
          </div>
        </div>
      </div>
      <!-- PIE -->
      <div class="modal-footer">
        <div class="col-6 flex-end">
          <h4 class="cantidad">{{ dulce?.cantidad }}</h4>
          <h4 class="precio">{{ dulce?.price | currency:'CLP' }}</h4>
        </div>
        <div class="col-6 flex-end">
          <button (click)="toPedidos()" type="button" class="btn btn-success">
            Haz tu pedido
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
























<!-- Modal -->
<!--
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
-->