<footer class="max-width mb-3">
        <nav class="row justify-content-center mt-2">
            <hr class="line">
            <div class="col-xl-4 footer-font mb-3">
                <p>Sureño Café: Flores Millán 1246</p>
                <p>422 250 105</p>
                <p>Lunes a Viernes 10:30 a 13:30 y</p>
                <p>de 15:00 a 19:30.</p>
            </div>
            <div class="col-xl-4 footer-font mb-3">
                <p>Sureño Dulce y Salado: 5 de abril 325</p>
                <p>422 212 638</p>    
                <p>Lunes a Sábado: 10:00 a 19:00 hrs.</p>    
                <p>Domingo: 10:00 a 15:00 hrs.</p>    
            </div>
            <div class="col-xl-4 footer-font mb-3">
                <p>Sureño Café: Constitución 724</p> 
                <p>422 210 157</p>   
                <p>Lunes a Viernes: 10:00 a 17:30 hrs.</p> 
                    
            </div>
            <div class="col-12 footer-text align-text-bottom" style="text-align: center;">
                <a href="https://www.instagram.com/surenochillan/" target="_blank"><i class="fa-brands fa-instagram-square fa-3x socials margin"></i></a>
                <a href="https://www.facebook.com/SurenoComidas/" target="_blank"><i class="fa-brands fa-facebook-square fa-3x socials"></i></a>
            </div>
        </nav>
</footer>