<div class="row mt-5 mb-5 gutters">
  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 mb-5">
    <div class="card h-100">
      <div class="card-body" style="background-color: black; border: solid 1px; border-radius: 5px;">
        <div class="account-settings">
          <div class="user-profile ">
            <ul class="nav nav-pills flex-column mb-auto">
              <span class="fs-4 center-text">Locales</span>
              <hr style="color: white; opacity: 1">
              <li class="mb-3">
                <a (click)="applyFilterVariable('5 de Abril')" class="nav-link text-white center-text" style="cursor: pointer;"> <i
                    class="fa fa-location-dot"></i><span class="ms-2">5 de Abril</span></a>
              </li>
              <li class="mb-3">
                <a (click)="applyFilterVariable('Constitución')" class="nav-link text-white center-text" style="cursor: pointer;"> <i
                    class="fa fa-location-dot"></i><span class="ms-2">Constitución</span></a>
              </li>
              <li class="mb-3">
                <a (click)="applyFilterVariable('Flores de Millán')" class="nav-link text-white center-text" style="cursor: pointer;"> <i
                    class="fa fa-location-dot"></i><span class="ms-2">Flores de Millán</span> </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <!-- <mat-form-field appearance="standard">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ej: Pastel" #input>
          </mat-form-field> -->
    <h2>Local: {{storeName | titlecase}} </h2>

    <mat-form-field appearance="standard">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ej: 5 de Abril" #input>
    </mat-form-field>

    <div class="mat-elevation-z8 mb-5" style="overflow-x:auto;">
      <table mat-table id="excel-table" [dataSource]="dataSource" matSort style="width: 100%;">

        <!-- ID Column -->
        <ng-container matColumnDef="id_pedido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id_pedido}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email }} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="local">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Local </th>
          <td mat-cell *matCellDef="let element"> {{element.local }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="fecha_agendada">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_agendada | date}} </td>
        </ng-container>

        <ng-container matColumnDef="hora">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
          <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="cantidad_producto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
          <td mat-cell *matCellDef="let element"> {{element.cantidad_producto}} </td>
        </ng-container>

        <ng-container matColumnDef="imageUrl">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
          <td mat-cell *matCellDef="let element"> <img class="rounded"
              style="width: 100px; height:130px; object-fit: cover;" [src]="element.imageUrl" alt=""> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No se encuentran resultados para: "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
<div class="table-title mt-4">
  <div class="row">
    <div class="col-sm-6 center-col">
      <h2>Exportar <b>Excel</b></h2>
    </div>
    <div class="col-sm-6 d-flex align-items-center justify-content-end center-col">
      <button class="btn btn-warning" (click)="exportexcel()">Exportar tabla a Excel</button>
    </div>
  </div>
</div>
<!-- <div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-white mt-3" style="width: 250px; background-color: #be1522;;"> <span
        class="fs-4">Locales</span>
    <hr style="color: white; opacity: 1">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="mb-3"> 
            <a href="#" class="nav-link text-white"> <i class="fa fa-location-dot"></i><span class="ms-2">5 de Abril</span></a> 
        </li>
        <li class="mb-3"> 
            <a href="#" class="nav-link text-white"> <i class="fa fa-location-dot"></i><span class="ms-2">Constitución</span></a> 
        </li>
        <li class="mb-3"> 
            <a href="#" class="nav-link text-white"> <i class="fa fa-location-dot"></i><span class="ms-2">Flores de Millan </span> </a> 
        </li>
    </ul>
</div> -->